services:
    # Permissions
    PermissionObject:
        class: Wame\PermissionModule\Models\PermissionObject
        setup:
            # Default
            - addResource('Default')
            - addResourceAction('Default', 'default')
            - allow('client', 'Default', 'default')
            - addResourceAction('Default', 'show')
            - allow('client', 'Default', 'show')
            - addResourceAction('Default', 'create')
            - allow('moderator', 'Default', 'create')
            - addResourceAction('Default', 'edit')
            - allow('moderator', 'Default', 'edit')
            - addResourceAction('Default', 'delete')
            - allow('admin', 'Default', 'delete')


    # Events
    - {class: Wame\PermissionModule\Events\PresenterListener, tags: [run]}


    - Wame\PermissionModule\Models\PermissionLoader


    # Repositories
    PermissionRepository:
        class: Wame\PermissionModule\Repositories\PermissionRepository
        inject: yes

    RoleRepository:
        class: Wame\PermissionModule\Repositories\RoleRepository
        inject: yes


    # Form containers
    - Wame\PermissionModule\Forms\IRoleFormContainerFactory
    - Wame\PermissionModule\Forms\Containers\IRoleContainerFactory


    # Forms
    Admin.UserFormBuilder:
        setup:
            - add(@Wame\PermissionModule\Forms\Containers\IRoleContainerFactory(), 'RoleContainer', {priority: 80})


doctrine:
    metadata:
        Wame\PermissionModule\Entities: %appDir%/../vendor/wame/PermissionModule/entities
