services:
	PermissionObject:
		class: Wame\PermissionModule\Models\PermissionObject
		setup:
			- addResource('role')
			- addResourceAction('role', 'view')
			- allow('admin', 'role', 'view')
			- addResourceAction('role', 'add')
			- allow('admin', 'role', 'add')
			- addResourceAction('role', 'edit')
			- allow('admin', 'role', 'edit')
			- addResourceAction('role', 'delete')
			- allow('admin', 'role', 'delete')

	- Wame\PermissionModule\Models\PermissionLoader


	# Entities
	- Wame\PermissionModule\Entities\PermissionEntity
	- Wame\PermissionModule\Entities\RoleEntity


	# Repositories
	- Wame\PermissionModule\Repositories\PermissionRepository
	- Wame\PermissionModule\Repositories\RoleRepository


	# Factories
	- Wame\PermissionModule\Forms\IRoleFormContainerFactory
			

	# Create user form in administration
	CreateUserForm:
		setup:
			- addFormContainer(Wame\PermissionModule\Forms\RoleFormContainer(), 'RoleFormContainer', 80)

	# Edit user form in administration
	EditUserForm:
		setup:
			- addFormContainer(Wame\PermissionModule\Forms\RoleFormContainer(), 'RoleFormContainer', 80)


doctrine:
	metadata:
		Wame\PermissionModule\Entities: %appDir%/../vendor/wame/PermissionModule/entities
		Wame\PermissionModule\Repositories: %appDir%/../vendor/wame/PermissionModule/repositories
